* {
  box-sizing: border-box;
  margin: 0;
}
body {
  font-size: 1.2rem;
  font-family: "Outfit", sans-serif;
}
header {
  display: flex;
  justify-content: space-between;
}

.logo {
  height: 2rem;
}

.logo,
.nav-item {
  cursor: pointer;
  margin: 0.5rem 1.2rem;
}
.nav-item {
  display: inline-block;
  list-style: none;
}
