* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-size: 1.2rem;
  font-family: "Outfit", sans-serif;
  padding: 1rem;
}
h1,
h2,
h3 {
  line-height: 1.5;
}
h2 {
  margin-bottom: 0.5rem;
}
header {
  display: flex;
  justify-content: space-between;
}

.logo {
  height: 2rem;
}

.logo,
.nav-item {
  cursor: pointer;
  margin: 0.5rem 1.2rem;
}

.nav-item {
  display: inline-block;
  list-style: none;
}
.nav-link {
  text-decoration: none;
  transition: all ease 0.3s;
}
.nav-link:hover {
  color: grey;
}
header {
  margin-bottom: 1rem;
}
/* Post Component */
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
}
.card-post {
  max-width: 17rem;
  padding: 1.6rem;
  background-color: hsl(0, 0%, 100%);
  border-radius: 15px;
  box-shadow: 0 0px 5px rgba(0, 0, 0, 0.311);
}
.card-image {
  width: 100%;
  border-radius: 15px;
}
.card-title {
  font-weight: 700;
  text-transform: uppercase;
}
.card-text {
  color: hsl(220, 15%, 55%);
  font-weight: 400;
}
.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* SaveBTN components */
.material-symbols-outlined {
  display: block;
}

/* UsersCard components */

/* Comment */
.comments-container {
  max-width: 50rem; /* 1rem is typically 16px */
  margin: 0 auto;
  padding: 0 1.5rem;
  text-align: left;
}

.comment {
  padding: 0.7rem 1.4rem;
  margin-bottom: 1.2rem;
  border-radius: 20px;
  background-color: hsl(0, 0%, 100%);
  border-radius: 15px;
  box-shadow: 0 0px 5px rgba(0, 0, 0, 0.311);
}

.comment h3 {
  margin: 0 0 0.625rem 0;
  color: #333;
}

.comment h3 span {
  font-size: 0.8em;
  color: #999;
}

.comment p {
  margin: 0;
  line-height: 1.4;
}

/* post page */

.post-page {
  display: flex;
  padding: 1rem;
}

.post-page .card-post {
  max-width: 100%;
  padding: 2rem;
}

@media screen and (max-width: 768px) {
  .post-page {
    flex-direction: column;
  }
  .post-page .card-post {
    margin: 1.2rem 0;
  }
  .comments-container {
    padding: 0;
  }
}

/* Main */

.main-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 1rem;
  padding: 1rem;
}

.image-container {
  /* Your styling here */
}

.image-container img {
  width: 100%;
  display: block; /* Remove extra space below the image */
  border-radius: 4px; /* If you want rounded corners */
}

.thumb {
  height: 50px;
  width: 50px;
  border-radius: 100%;
  transition: transform 0.3s;
}

/* Icons */
.icon {
  width: 40px;
  height: 40px;
}

.icon-container {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background: #f3f9fa;
  width: 64px;
  height: 64px;
  border-radius: 100%;
}

/* Cards */
.card {
  border-radius: 7px;
  box-shadow: 0 0 20px 10px #f3f3f3;
  overflow: hidden;
  padding: 1rem;
}

/* Media */
.media {
  display: flex;
  align-items: center;
}

.media__body {
  margin: 0 1.25rem;
}

/* Grids */
.grid {
  display: grid;
  gap: 1rem;
}
@media screen and (min-width: 768px) {
  .grid--1x2 {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (min-width: 1024px) {
  .grid--1x3 {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* UserTodos */

.todos-container {
  margin-top: 20px;
}

.todos-list {
  list-style: none;
  padding: 0;
}

.todos-list li {
  margin-bottom: 8px;
  padding: 8px;
  border-radius: 4px;
  background-color: #f0f0f0;
}

.todos-list li.completed {
  text-decoration: line-through;
  color: #888;
}
/* UserAlbums */

.user-albums {
  margin-top: 20px;
  padding: 10px;
}

.album-header {
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 10px;
}

.album-list {
  list-style-type: none;
  padding: 0;
}

.album-item {
  margin-bottom: 5px;
  cursor: pointer;
}

.album-item:hover {
  color: rgb(122, 151, 44);
}
